body {
    margin: 0;
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100%;
}

canvas {
    background: url('./assets/back.jpg');
    background-size: cover;
}

#rotateRight, #rotateLeft {
    position: fixed;
    background: url('./assets/btn/button.png');
    background-size: contain;
    outline: unset;
    border: unset;
    width: 100px;
    height: 100px;
    top: 55%;
    left: 35%;
}

#rotateRight {
    left: unset;
    right: 35%;
    transform: scaleX(-1);
}

#rotateRight:hover, #rotateLeft:hover {
    background: url('./assets/btn/button_hover.png');
    background-size: contain;
}